/*CROSS BROWSER FONTS*/
@font-face {
    font-family: myAileronsFont;
    src: url(../typefonts/Ailerons/Ailerons-Typeface.otf);
    src: url(../typefonts/Ailerons/Ailerons-Typeface.eot?#iefix)
             format('embedded-opentype'),
         url(../typefonts/Ailerons/Ailerons-Typeface.woff) format('woff'),
         url(../typefonts/Ailerons/Ailerons-Typeface.ttf) format('truetype');
}

@font-face {
    font-family: myStencilOne;
    src: url(../typefonts/StencilOne/StencilOne.otf);
    src: url(../typefonts/StencilOne/StencilOne.eot?#iefix)
             format('embedded-opentype'),
         url(../typefonts/StencilOne/StencilOne.woff) format('woff'),
         url(../typefonts/StencilOne/StencilOne.ttf) format('truetype');
}


/* Standard syntax */
@keyframes bg-opacity {
  0%   {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../img/jeremy-perkins-390608small.jpg);}
  10%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/jeremy-perkins-390608small.jpg);}
  20%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/jeremy-perkins-390608small.jpg);}
  30%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/jeremy-perkins-390608small.jpg);}
  40%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/jeremy-perkins-390608small.jpg);}
  50%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/jeremy-perkins-390608small.jpg);}
  60%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/jeremy-perkins-390608small.jpg);}
  70%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../img/jeremy-perkins-390608small.jpg);}
  80%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../img/jeremy-perkins-390608small.jpg);}
  90%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(../img/jeremy-perkins-390608small.jpg);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bg-opacity {
  0%   {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../img/jeremy-perkins-390608small.jpg);}
  10%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/jeremy-perkins-390608small.jpg);}
  20%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/jeremy-perkins-390608small.jpg);}
  30%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/jeremy-perkins-390608small.jpg);}
  40%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/jeremy-perkins-390608small.jpg);}
  50%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/jeremy-perkins-390608small.jpg);}
  60%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/jeremy-perkins-390608small.jpg);}
  70%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../img/jeremy-perkins-390608small.jpg);}
  80%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../img/jeremy-perkins-390608small.jpg);}
  90%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(../img/jeremy-perkins-390608small.jpg);}
}

/* Safari 4.0 - 8.0 */
@-moz-keyframes bg-opacity {
  0%   {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../img/jeremy-perkins-390608small.jpg);}
  10%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/jeremy-perkins-390608small.jpg);}
  20%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/jeremy-perkins-390608small.jpg);}
  30%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/jeremy-perkins-390608small.jpg);}
  40%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/jeremy-perkins-390608small.jpg);}
  50%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/jeremy-perkins-390608small.jpg);}
  60%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/jeremy-perkins-390608small.jpg);}
  70%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../img/jeremy-perkins-390608small.jpg);}
  80%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../img/jeremy-perkins-390608small.jpg);}
  90%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(../img/jeremy-perkins-390608small.jpg);}
}

/* Safari 4.0 - 8.0 */
@-o-keyframes bg-opacity {
  0%   {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../img/jeremy-perkins-390608small.jpg);}
  10%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/jeremy-perkins-390608small.jpg);}
  20%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/jeremy-perkins-390608small.jpg);}
  30%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/jeremy-perkins-390608small.jpg);}
  40%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/jeremy-perkins-390608small.jpg);}
  50%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/jeremy-perkins-390608small.jpg);}
  60%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/jeremy-perkins-390608small.jpg);}
  70%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../img/jeremy-perkins-390608small.jpg);}
  80%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../img/jeremy-perkins-390608small.jpg);}
  90%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(../img/jeremy-perkins-390608small.jpg);}
}

/* Safari 4.0 - 8.0 */
@-ms-keyframes bg-opacity {
  0%   {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../img/jeremy-perkins-390608small.jpg);}
  10%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/jeremy-perkins-390608small.jpg);}
  20%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/jeremy-perkins-390608small.jpg);}
  30%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/jeremy-perkins-390608small.jpg);}
  40%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/jeremy-perkins-390608small.jpg);}
  50%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/jeremy-perkins-390608small.jpg);}
  60%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../img/jeremy-perkins-390608small.jpg);}
  70%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../img/jeremy-perkins-390608small.jpg);}
  80%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../img/jeremy-perkins-390608small.jpg);}
  90%  {animation-timing-function: ease-in; background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.0)), url(../img/jeremy-perkins-390608small.jpg);}
}

@keyframes draw {
  50% {
    stroke-dashoffset: 0;
    transform: scale(.2);
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes colourBlend {
  from   {color: #000000;}
  to     {color: #696969;}
}

/* Standard syntax */
@keyframes colourBlend {
  from   {color: #000000;}
  to     {color: #696969;}
}

.home {
  /* background-image: url(../img/jeremy-perkins-390608small.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/jeremy-perkins-390608small.jpg);
  animation-name: bg-opacity;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  -webkit-animation-name: bg-opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: bg-opacity;
  -moz-animation-duration: 2s;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;

  -o-animation-name: bg-opacity;
  -o-animation-duration: 2s;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;

  -ms-animation-name: bg-opacity;
  -ms-animation-duration: 2s;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
}

.punisher{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://fsmedia.imgix.net/73/46/0d/95/afdc/487e/af14/5b44a1b3f705/nov-29-2017-22-34-38gifgif.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

#top, #middle, #bottom {
  padding-top: 70px;
  padding-bottom: 70px;
}

.planet {
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}

.loader {
  position: absolute;
  opacity: 1;
}

.loaderbg circle {
  position: absolute;
  opacity: 1;
}

.loader circle {
  animation: draw 5s infinite ease-in-out;
  transform-origin: center;
  transform: rotate(-90deg);
}

.loader-2 circle,
.loader-6 circle {
  animation-delay: 6s;
}

.loader-7 circle {
  animation-delay: 4s;
}

.loader-4 circle,
.loader-8 circle {
  animation-delay: 2s;
}

.loader-3 {
  transform: rotateY(180deg);
}

.loader-6,
.loader-7,
.loader-8 {
  transform: rotateX(180deg) rotateY(180deg);
}

.loader-5 circle {
  opacity: .3;
}

h1 {
  font-family: myAileronsFont;
  text-align: center;
  color: #7e7e7e;
  font-weight: 900;
}

.health{
  font-family: myStencilOne;
  font-size: 40px;
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
  padding-left: 20px;
  padding-top: 30px;
}

#photonName, #photonConnected, #photonLastTime, #photonLastDate, #photonVoltage, #photonPercentage {
  font-family: myAileronsFont;
  font-weight: 700;
  font-size: 40px;
}

#photonName {
  padding-left: 7px;
}

#photonConnected {
  padding-left: 13px;
}

#photonLastTime {
  padding-left: 6px;
}

#photonHandShake {
  margin-left: -1px;
}

#photonLastDate {
  padding-left: 9px;
}

#photonVoltage {
  padding-left: 16px;
}

#photonNameResult {
  padding-left: 20px;
}

#photonConnectedResult {
  padding-left: 26px;
}

#photonPercentageResult {
  padding-left: 15px;
}

#photonVoltageResult {
  padding-left: 31px;
}

#photonLastTimeResult {
  padding-left: 20px;
}

#photonHandShakeResult {
  padding-left: 12px;
}

#photonLastDateResult {
  padding-left: 22px;
}


.coulourBlend {
  animation-name: colourBlend;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 700px) {

  .punisher{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('https://fsmedia.imgix.net/73/46/0d/95/afdc/487e/af14/5b44a1b3f705/nov-29-2017-22-34-38gifgif.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .health{
    font-family: myStencilOne;
    font-size: 30px;
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%;
    margin-left: -50px;
    margin-top: -60px;
    transform: scale(0.8);
  }

  #photonName, #photonConnected, #photonLastTime, #photonLastDate, #photonVoltage, #photonPercentage {
    font-family: myAileronsFont;
    font-weight: 700;
    font-size: 30px;
  }

  #photonName {
    padding-left: 3px;
  }

  #photonConnected {
    padding-left: 8px;
  }

  #photonLastTime {
    padding-left: 4px;
  }

  #photonHandShake {
    margin-left: -2px;
  }

  #photonLastDate {
    padding-left: 6px;
  }

  #photonVoltage{
    padding-left: 11px;
  }

  #photonNameResult {
    padding-left: 23px;
  }

  #photonConnectedResult {
    padding-left: 28px;
  }

  #photonPercentageResult {
    padding-left: 20px;
  }

  #photonVoltageResult {
    padding-left: 35px;
  }

  #photonLastTimeResult {
    padding-left: 25px;
  }

  #photonHandShakeResult {
    padding-left: 20px;
  }

  #photonLastDateResult {
    padding-left: 27px;
  }

}
